:root {
  --white-color: #fff;
  --black-color: #000;
}

.header {
  margin: 92px 24px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
}

.header__menu {
  list-style: circle;
  display: flex;
  gap: 32px;
  margin-left: 26px;
}

.header__links-list-item {
  border-bottom: 1px solid var(--black-color);
}

.header__links-list-item_no-bullit {
  border: none;
  list-style: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  margin-right: 26px;
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.header__address-list {
  width: 240px;
  list-style: none;
}

.header__address-list-item {
  line-height: 24px;
  border-bottom: 1px solid var(--black-color);
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  padding: 165px 50px 51px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: var(--black-color);
  z-index: 1;
}

.cover__title {
  display: grid;
  row-gap: 10px;
  margin-bottom: 140px;
  position: relative;
  z-index: 2;
}

.title {
  color: var(--white-color);
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.aligned-text {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
}

.cover__description {
  display: flex;
  align-items: center;
  gap: 80px;
  position: relative;
  z-index: 2;
}

.cover__description-text {
  color: var(--white-color);
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 15px;
  margin-left: 32px;
}

.word-spacing-extend {
  word-spacing: 21px;
  letter-spacing: -1px;
}

.bet-button {
  font-family: Raleway, sans-serif;
  border: 1px solid currentColor;
  color: var(--white-color);
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background: transparent;
  padding: 12px 31px 11px 32px;
  cursor: pointer;
  transition: 0.3s;
}

.bet-button:hover {
  background: var(--black-color);
  border: 1px solid var(--black-color);
}

.lots {
  margin: 181px 24px 146px;
}

.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 30px;
}

.card {
  padding: 49px 40px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.png");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.png");
}

.card__title, .card__text {
  z-index: 2;
}

.card__text {
  color: var(--white-color);
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  margin-left: 40px;
  border-bottom: 1px solid var(--black-color);
  letter-spacing: 0.4px;
}

.about {
  padding: 37px 16px 178px;
}

.about__column {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 2fr;
  gap: 18px;
}

.about__logo {
  background: var(--black-color);
  border-radius: 50%;
  height: 240px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 98px;
  margin-bottom: 101px;
  letter-spacing: -1px;
}

.description-block {
  display: grid;
  gap: 26px;
}

.about__text {
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  margin: 0 50px 91px;
}

.footer__menu-list {
  display: grid;
  justify-items: center;
}

.footer__menu-link {
  border-bottom: 1px solid var(--black-color);
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}